In [1]:
import pandas as pd
import numpy as np
disney = pd.read_csv('DisneylandReviews.csv', encoding = 'latin-1')
disney.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [2]:
disney.shape

(42656, 6)

In [3]:
disney.isnull()

       Review_ID  Rating  Year_Month  Reviewer_Location  Review_Text  Branch
0          False   False       False              False        False   False
1          False   False       False              False        False   False
2          False   False       False              False        False   False
3          False   False       False              False        False   False
4          False   False       False              False        False   False
...          ...     ...         ...                ...          ...     ...
42651      False   False       False              False        False   False
42652      False   False       False              False        False   False
42653      False   False       False              False        False   False
42654      False   False       False              False        False   False
42655      False   False       False              False        False   False

[42656 rows x 6 columns]

In [4]:
disney.dropna(inplace = True)

In [5]:
disney.shape

(42656, 6)

In [6]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42656 entries, 0 to 42655
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Review_ID          42656 non-null  int64
 1   Rating             42656 non-null  int64
 2   Year_Month         42656 non-null  object
 3   Reviewer_Location  42656 non-null  object
 4   Review_Text        42656 non-null  object
 5   Branch             42656 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.3+ MB

In [7]:
disney['Year_Month'] = pd.to_datetime(disney['Year_Month'], errors = 'coerce')

In [8]:
disney['Year'] = disney['Year_Month'].dt.year
disney['Month'] = disney['Year_Month'].dt.month

In [9]:
disney['Review_ID'].value_counts()

121586148    2
129231609    2
164830205    2
129207323    2
166787635    2
            ..
127111751    1
359629381    1
609401410    1
184721985    1
322889295    1
Name: Review_ID, Length: 42636, dtype: int64

In [10]:
disney.drop_duplicates(subset = 'Review_ID', inplace = True, keep = 'first')

In [11]:
disney.shape

(42636, 8)

In [12]:
disney['Review_ID'].value_counts()

130078748    1
399349016    1
655889349    1
616889621    1
118578741    1
            ..
278053453    1
639814220    1
126558105    1
639035976    1
322889295    1
Name: Review_ID, Length: 42636, dtype: int64

In [13]:
disney.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch,Year,Month
0,670772142,4,2019-04-01,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong,2019.0,4.0
1,670682799,4,2019-05-01,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong,2019.0,5.0
2,670623270,4,2019-04-01,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong,2019.0,4.0
3,670607911,4,2019-04-01,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong,2019.0,4.0
4,670607296,4,2019-04-01,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong,2019.0,4.0

In [14]:
print(disney['Year'].value_counts())
print(max(disney['Year'].value_counts()))

2015.0    6979
2016.0    6599
2014.0    5300
2017.0    5195
2013.0    4709
2012.0    4339
2018.0    3997
2011.0    1976
2019.0     786
2010.0     143
Name: Year, dtype: int64
6979

In [15]:
print(disney['Month'].value_counts())
print(max(disney['Month'].value_counts()))

8.0     3994
7.0     3876
12.0    3870
10.0    3764
6.0     3588
4.0     3476
5.0     3436
9.0     3229
3.0     3132
11.0    2684
1.0     2515
2.0     2459
Name: Month, dtype: int64
3994

In [16]:
disney['Reviewer_Location'].value_counts().sort_values(ascending = False)[: 10]

United States     14542
United Kingdom     9751
Australia          4676
Canada             2234
India              1510
Philippines        1070
Singapore          1034
New Zealand         756
Malaysia            586
Hong Kong           554
Name: Reviewer_Location, dtype: int64

In [17]:
disney['Branch'].value_counts().sort_values(ascending = False)

Disneyland_California    19400
Disneyland_Paris         13629
Disneyland_HongKong       9607
Name: Branch, dtype: int64

In [18]:
disney['Rating'].value_counts().sort_values(ascending = False)

5    23137
4    10768
3     5105
2     2127
1     1499
Name: Rating, dtype: int64

In [19]:
disney['Rating'].mean()

4.217679894924477

In [20]:
disney.groupby('Reviewer_Location')['Rating'].mean().sort_values(ascending = False)[0 : 5]

Reviewer_Location
Åland Islands    5.0
Cuba             5.0
Libya            5.0
Senegal          5.0
Grenada          5.0
Name: Rating, dtype: float64

In [21]:
disney.groupby('Reviewer_Location')['Rating'].mean().sort_values(ascending = True)[0 : 5]

Reviewer_Location
Turks and Caicos Islands    1.500000
Suriname                    2.000000
South Sudan                 2.000000
Ecuador                     2.333333
Haiti                       3.000000
Name: Rating, dtype: float64

In [22]:
disney.groupby('Branch')['Rating'].mean()

Branch
Disneyland_California    4.405361
Disneyland_HongKong      4.204226
Disneyland_Paris         3.960012
Name: Rating, dtype: float64

In [23]:
disney[disney['Branch'] == 'Disneyland_California']['Rating'].value_counts()

5    12515
4     3979
3     1660
2      747
1      499
Name: Rating, dtype: int64

In [24]:
disney[disney['Branch'] == 'Disneyland_HongKong']['Rating'].value_counts()

5    4512
4    3225
3    1362
2     336
1     172
Name: Rating, dtype: int64

In [25]:
disney[disney['Branch'] == 'Disneyland_Paris']['Rating'].value_counts()

5    6110
4    3564
3    2083
2    1044
1     828
Name: Rating, dtype: int64

In [27]:
disney[disney['Reviewer_Location'] == 'Australia']['Branch'].value_counts()

Disneyland_California    2447
Disneyland_HongKong      1634
Disneyland_Paris          595
Name: Branch, dtype: int64

In [28]:
disney[disney['Reviewer_Location'] == 'Australia']['Rating'].value_counts()

5    2681
4    1182
3     518
2     181
1     114
Name: Rating, dtype: int64

In [29]:
disney[disney['Reviewer_Location'] == 'Australia']['Rating'].mean()

4.31201881950385